<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Записи сообщества {{ group.title }} | Yatube</title>
  </head>
  {% for post in posts %}
  <body>
    <h1>{{ post.group.title }}</h1>
      <p>{{ post.group.description }}</p>

    <h3>
        Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
      <p>{{ post.text }}</p>
    <hr>
    {% endfor %}
  </body>
</html>

