<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }} {% endblock %}
{% block content %}

  {% for post in posts %}
  <body>
    <h1>{{ post.group.title }}</h1>
      <p>{{ post.group.description }}</p>

    <h3>
        Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
      <p>{{ post.text|linebreaksbr  }}</p>
    <hr>
    {% endfor %}
{% endblock %}
</html>
